.header-bg {
  background: var(--c2);
  position: fixed;
  top: 0;
  height: 100px;
  transition: 0.3s;
  z-index: 1;
}

.header{
  position: relative;
}

.header.container, .header-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  width: 100%;
}

.header ul {
  display: flex;
}

.header ul a{
  display: block;
  padding: 8px;
  transition: .3s;
}

.header ul a:hover{
  color: var(--c7);
}

.header.mobile {
  display: none;
}

#navbar.active .header nav{
  display: block;
}

#navbar.active .header ul{
  position: absolute;
  width: 100vw;
  top: 70px;
  right: 0;
  flex-direction: column;
  background: var(--c1);
  color: var(--c3);
}

#navbar.active .header a:hover{
  background: var(--c6);
  color: var(--c1);
}

.ativo{
  color: var(--c7);
}

.active .ativo{
  background: var(--c6);
  color: var(--c1);
}

/* MENU HAMBÚRGUER */

.navbar-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
}

.hamburguer:nth-of-type(1), .hamburguer:nth-of-type(2), .hamburguer:nth-of-type(3){
    width: 24px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: 0.2s;
}

.navbar-icon.active .hamburguer:nth-of-type(1){
    transform: rotate(45deg);
    transition: 0.2s;
    position: absolute;
}

.navbar-icon.active .hamburguer:nth-of-type(2){
    display: none;
    transition: 0.2s;
}

.navbar-icon.active .hamburguer:nth-of-type(3){
    transform: rotate(135deg);
    transition: 0.2s;
}

/* MEDIA */

@media (max-width: 1200px) {
  .header {
    max-width: 1000px;
  }
}

@media (max-width: 800px) {
  .header nav {
    display: none;
  }

  .header.mobile {
    display: block;
  }
}